@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
     background-color: #ef105e ;
     width: 1000vh;
     height: 100%;
     color: #fff;
}
.asideCont{
    width: 300px;
    height: 100vh;
    padding-top: 35vh;
    background-color: rgba(18, 17, 17, 0.895);
}
.asideCont, .cont-section{
     border-radius: 18px;
     text-align: center; 
}
/* section */
.cont-section{
    width: 150vh;
    background-color: rgba(18, 17, 17, 0.813);
}
.boton{
    background-color: #ef105e ;
    height: fit-content;
    width: fit-content;
    border: none;
    padding: 5px;
    border-radius: 18px;
    box-shadow: 2px 2px 2px gray;
}
.div-sect{
    gap: 50vh;
}
.sect-contenido{
    width: 110vh;
    height: 90vh;
    margin-right: 240px;
    background-color: #ef105e;
}
/* carp */
/* .cart{
    width: 300px;
    height:100%;
    padding: 35px;
    
}
.cart input{
    width: 35vh;
    height: 15vh;
    border: none;
} */