@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    background-color: #ef105e;
}

.form{
    width: 100%;
    height: 100%;
    top: 30vh;
    /* background-color: aqua; */
}
input{
    /* border: none; */
    border: 1px solid bisque;
    font-size: 17px;
    
}
.send{
    width: 17vh;
    color: black;
    padding: 2px;
}
.logout{
    cursor: pointer;
}