@tailwind base;
@tailwind components;
@tailwind utilities;

/* page inicio */
body{
    background-color: rgba(0, 0, 0, 0.947);
    color: #ccc;
}
.boton-inicio, .btn-empezar, .create-carp, .box{
    border-radius: 18px;
    padding: 8px 8px;
    color: black;
}
/* nav page inicio */
.boton-inicio{
    background-color: rgba(139, 0, 139, 0.886);
}
/* main page inicio */
.line{
    border-bottom: 1px white solid;
}
.cont-main{
    width: 350px;
}
.img-main{
    width: 30vh;
    height: 30vh;
}
.btn-empezar{
    background-color: rgb(200, 147, 156);
    width: 20vh;
}

/* page carpeta */
.container{
    height: 100vh;
    /* padding: 10px 40px; */
    /* padding-left: 4px; */
}
.asideCont{
    width: fit-content;
    height: 80vh;
    background-color: rgba(1, 1, 1, 0.963);
    padding: 50px 40px;
    margin-left: 20px;
    border-radius: 18px 0 0 18px;
}
.ul-carp{
    width: 40vh;
    /* text-align: center; */
}
.titulo-carp{
    width: max-content;
    /* border: solid green 1px; */
    color: purple;
}
/* page home section  */
.cont-section{
    height: 80vh; 
    border-radius: 0 18px 18px 0;
    background-color: #24222237;
}
.section{
    width: 100vh;
}
.create-carp{
    background-color: purple;
}
.box{
    background-color: purple;
    margin: 5px;
}

@media screen and (max-width:800px) {
    .container{
        display: flex;
        flex-direction: column;
        height:70vh ;
    }
    .asideCont{
        width: 100%;
        padding: 0;
    }
    .section{
        width: 100%;
    }
}